*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    
}

body{
    background-color: #93EFFF;
}
header form{
    position: relative; 
    right: 200px;
    
}
#cerrar{
    background-color: #CB2D2D;
    color: #f2f2f2;
    border-radius: 10px;
    font-size: large;
}
#titulo{
    position: fixed;
    top: 1%;
    right: 38%;
    margin-bottom: 30px;
    text-align: center;
    
}
.caja_trasera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    background-color:rgba(36, 114, 123, 0.6);

}


.contenido{
    text-align: center;

}
.caja_trasera h3{
    position: relative;
    top: 40%;
    left: 50%;
    margin: 10px;
    width: fit-content;
    transform: translate(-50%, -3%);
}
.caja_trasera .sintomas{
    position: relative;
    left: 5%;
    height: 30px;
    width: 200px;
    border-radius: 5px;
    margin-bottom: 30px;
    opacity: 1;
    font-size: 16px;

}
header{
    position: relative;
    top: 4em;
    right: 2em;
    margin-top: 20px;
    text-align: right;
    margin-right: 50px;
    
}
#color3,#color2,#color1,#colorDef{
    width:100px;
}

#prueba{
    right: 110%;
}

header button{
    width: 70px;
    height: 25px;
    border-radius: 10px;
    background-color: #CB2D2D;
    color: #f2f2f2;
    border-width: 0ch;
}

header button:hover{
    width: 75px;
    height: 25px;
    background-color: #f14242;
    transition: 0.1s;
}
#enviar{
    position: fixed;
    bottom: 0;
    left: 110%;
    height: 50px;
    width: 150px;
    border-radius: 100px;
    color: white;
    background-color: #CB2D2D;
    font-size: large;
    border: 0px;
}
#enviar:hover{
    background-color: #f14242;
    transition: 0.1s;
}
.caja_trasera label{
    font-size: 24px;
    position: fixed;
    bottom: 10px;
    right: 500px;
}

